<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.razerman.nordearootbypasser">
    android:versionCode="1"
    android:versionName="1.1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Nordea Banking Apps - Root Detection Bypasser." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />
    </application>

</manifest>
